@import "reset.scss";
@import "variables.scss";
@import "./mixins/media_queries.scss";

html {
  font-family: $font-family;
  font-size: $font-size;
  // letter-spacing: 1px;
}

body {
  background-image: url("../assets/images/Background-Web.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media_query(sm-phone) {
    background-image: url("../assets/images/Background-Mobile.png");
  }
}

.main {
  .main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    .landing_msg {
      font-size: 5rem;
      text-align: center;
      padding: 0 10px;
      @include media_query(md-tablet) {
        font-size: 5rem;
      }
      @include media_query(sm-phone) {
        font-size: 4.5rem;
      }
      @include media_query(xxs-phone) {
        font-size: 3.5rem;
      }
    }

    .button {
      margin-top: 50px;
    }
  }
}

#wheel {
  position: relative;
  font-family: $font-family;
  width: $initial-wheel-width;
  height: $initial-wheel-height;
  // border: 5px solid $wheel-border-light;
  margin: -1px;
  border-radius: 50%;
  @include media_query(sm-desktop) {
    width: 500px;
    height: 500px;
  }
  @include media_query(lg-laptop) {
    width: 450px;
    height: 450px;
  }
  @include media_query(md-tablet) {
    width: 500px;
    height: 500px;
  }
  @include media_query(xs-phone) {
    width: 80vw;
    height: 80vw;
  }
}
.container {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "one three"
    "two three";
  // grid-column-gap: 20px;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  color: $txt-light;

  @include media_query(md-tablet) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "three"
      "two";

    margin-bottom: 20px;
    padding: 20px 0;
    grid-row-gap: 100px;
    justify-items: center;
  }
  @include media_query(sm-phone) {
    grid-row-gap: 70px;
  }
  @include media_query(xxs-phone) {
    grid-row-gap: 50px;
  }

  .wheel_container {
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px 20px 0;
    grid-area: three;

    border: 35px solid $wheel-border-light;
    box-shadow: -12px 3px 0px $wheel-border-dark;

    @include media_query(sm-desktop) {
      border-width: 30px;
      box-shadow: -10px 3px 0px $wheel-border-dark;
    }

    @include media_query(md-tablet) {
      margin: 0 0 0 10px;
      width: 500px;
    }
    @include media_query(sm-phone) {
      border-width: 25px;
    }
    @include media_query(xs-phone) {
      border-width: 20px;
      width: 80vw;
      height: 80vw;
    }
    @include media_query(xs-phone) {
      border-width: 17px;
      box-shadow: -8px 3px 0px $wheel-border-dark;
    }

    // BULB
    .bulb {
      border-radius: 50%;
      border-radius: 2px solid #fff;
      position: absolute;
      z-index: 10;
      background: #fffb96;
      box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
        $wheel-bulb-color 0 0px 15px 4px;
      top: 50%;
      left: 50%;
    }

    #rotate {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      outline: none;
      border: none;
      width: 18%;
      height: 18%;
      border-radius: 50%;
      background: $wheel-btn-secondary;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner {
        width: 85%;
        height: 85%;
        background: $wheel-btn-primary;
        color: $wheel-prize-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        text-transform: uppercase;
        font-size: 3.7rem;
        z-index: 1;
        box-shadow: 0 0px 5px #ccc;
        cursor: pointer;

        @include media_query(sm-desktop) {
          font-size: 3rem;
        }

        @include media_query(xs-phone) {
          font-size: 2rem;
        }

        span {
          position: relative;
          top: 3px;
        }
      }

      .triangle {
        position: absolute;
        background-color: inherit;
        text-align: left;
        width: 22%;
        height: 22%;
        top: -25%;
        left: 50%;
        border-top-right-radius: 30%;
        transform: translateX(-50%) rotate(300deg) skewX(-30deg) scale(1, 0.866);
        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: inherit;
          width: 100%;
          height: 100%;
          border-top-right-radius: 30%;
        }

        &:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
            translate(0, -50%);
        }

        &:after {
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414)
            translate(50%);
        }
      }
    }
  }

  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: one;
    div {
      background: $wheel-prize-primary;
      width: fit-content;
      padding: 10px 20px 0 20px;
      border-radius: 20px;
      font-size: 13rem;

      @include media_query(sm-desktop) {
        font-size: 12rem;
      }

      @include media_query(lg-laptop) {
        font-size: 10.5rem;
      }
      @include media_query(xs-phone) {
        font-size: 16vw;
        border-radius: 10px;
      }
    }

    .subtitle {
      padding-bottom: 10px;
      font-size: 5rem;
      margin-bottom: -15px;
      z-index: 2;

      @include media_query(sm-desktop) {
        font-size: 4.6rem;
      }

      @include media_query(lg-laptop) {
        font-size: 4rem;
      }
      @include media_query(xs-phone) {
        font-size: 6vw;
        margin-bottom: -10px;
      }
    }
  }

  .prize_container {
    grid-area: two;

    @include media_query(xs-phone) {
      width: 90%;
    }

    .title {
      font-size: 4rem;
      text-align: center;
      // margin: 70px 0 50px 0;
      margin-bottom: 50px;

      @include media_query(lg-laptop) {
        font-size: 2.5rem;
        // margin: 60px 0 40px 0;
        margin-bottom: 40px;
      }
      @include media_query(md-tablet) {
        font-size: 3rem;
        margin-bottom: 10px;
      }

      @include media_query(xs-phone) {
        font-size: 5vw;
        // margin: 40px 0 40px 0;
        margin-bottom: 30px;
      }
    }

    .prizes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 60px;
      // border: 1px solid #fff;
      @include media_query(lg-laptop) {
        grid-gap: 50px;
      }
      @include media_query(md-tablet) {
        grid-gap: 100px;
      }
      @include media_query(sm-phone) {
        grid-gap: 50px;
      }

      @include media_query(xs-phone) {
        // grid-template-columns: 1fr;
        grid-gap: 20px;
      }

      .prize {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
          max-width: 160px;
          margin-bottom: 10px;
          @include media_query(lg-laptop) {
            max-width: 130px;
          }
          @include media_query(md-tablet) {
            max-width: 150px;
          }
          @include media_query(xs-phone) {
            max-width: 100px;
          }
          @include media_query(xxs-phone) {
            max-width: 80px;
          }
        }

        span {
          font-size: 3rem;
          @include media_query(lg-laptop) {
            font-size: 2.7rem;
          }
          @include media_query(xs-phone) {
            font-size: 2rem;
          }
          @include media_query(xxs-phone) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// MODALS
.modal {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/Background-Web-lose.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  opacity: 0;
  top: -110vh;
  left: 0;
  z-index: 50;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media_query(xs-phone) {
    background-image: url("../assets/images/Background-Mobile.png");
  }

  .modal_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    // border: 1px solid #fff;

    @include media_query(sm-phone) {
      height: fit-content;
    }

    .bottom {
      margin: 0 auto;
      width: 95%;
      text-align: center;
    }

    .title {
      color: $txt-light;
      padding: 10px 20px 12px 20px;
      border-radius: 8px;
      background: $wheel-prize-secondary;

      span {
        font-size: 6rem;

        @include media_query(xxs-phone) {
          font-size: 5.5rem;
          display: block;
        }

        @include media_query(xs-phone) {
          font-size: 4rem;
        }
      }

      @include media_query(xs-phone) {
        padding: 8px 15px 10px 15px;
        text-align: center;
      }
    }

    .try_again {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 50px;
      .button {
        margin-top: 20px;
      }
      img {
        max-width: 250px;
        margin: 50px 0;
      }

      .prize {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -15px;

        span {
          font-size: 5rem;
        }
      }
    }
  }
}

.win_modal {
  color: $txt-light;
  cursor: pointer;
  background-image: url("../assets/images/Background-Web-win.png");

  @include media_query(xs-phone) {
    background-image: url("../assets/images/Background-Mobile.png");
  }
  .slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

    @include media_query(xs-phone) {
      margin-bottom: 30px;
    }

    div {
      background: $wheel-prize-primary !important;
      width: fit-content;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 8rem;

      @include media_query(xs-phone) {
        padding: 5px 15px;
        font-size: 5.5rem;
      }
      @include media_query(xxs-phone) {
        font-size: 4.5rem;
      }
    }

    .subtitle {
      font-size: 5rem;
      margin-top: -10px;
      z-index: 2;
      @include media_query(xs-phone) {
        margin-top: -8px;
        font-size: 3.5rem;
      }
      @include media_query(xxs-phone) {
        margin-top: -8px;
        font-size: 3rem;
      }
    }
  }

  .try_again {
    margin-top: 0 !important;
  }
}

.showModal {
  opacity: 1;
  top: 0;
}

.bottom {
  color: $txt-light;
  font-size: 2.7rem;
  margin: 20px auto;
  width: 95%;
  text-align: center;

  @include media_query(sm-phone) {
    font-size: 2.4rem;
  }
  @include media_query(xs-phone) {
    font-size: 2.1rem;
  }
  @include media_query(xxs-phone) {
    font-size: 1.8rem;
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  position: absolute;
}

.button {
  background: rgba($button-normal-rgb, 0.8);
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $txt-light;
  width: 100%;
  padding: 10px 20px 8px 20px;
  max-width: 150px;
  font-size: 3rem;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: $button-hover;
    transition: 0.5s background ease-in-out;
  }
}
